@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    border:none;
}
body{
    font-family:'Roboto';
}
:root{
    --primary-color : #6b4c76;
    --secondary-color : #e8505b;
    --grey-shade-1 : #8F8F8F;
    --grey-shade-2 : #969696;
    --black : #080808;
    --heading-font-size : 32px;
    --subheading-font-size : 16px;
    --desc-font-size: 28px;
    --sub-desc-font-size : 20px;
    --section-margin:50px;
    --section-padding:50px;
}
#header{
    padding:20px 50px 0px 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#header .logo a{
    text-decoration: none;
}
#header .logo a {
    color : var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
}
#header .logo a span{
    color : var(--primary-color);
    font-size: 30px;
    font-weight: 600;
    margin-right:10px;
}
#header .navigation{
    display:flex;
    justify-content: center;
    align-items: center;
}
#header .navigation ul{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#header .navigation ul li{
    display: inline-block;
    margin-right:30px;
}
#header .navigation ul li a{
    text-decoration: none;
    color: var(--primary-color);
}
#header .navigation ul li:last-child{
    margin-right:0px;    
}
section{
    margin-top : var(--section-margin);
    padding: 0px var(--section-padding);
}
section{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
section .head{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
section .head .heading h1{
    font-size: var(--heading-font-size);
    color:var(--black);
    font-weight: 700;
}
section .head .sub-heading h3{
    font-size: var(--subheading-font-size);
    color: var(--grey-shade-1);
    font-weight: 500;
}
section .body{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
section#hero .body .body-image{
    position:relative;
    overflow:hidden;
    width:45%;
    height:450px;
}
section#hero .body .body-image img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: contain;
}
section#hero .body .body-desc{
    width:45%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#hero .body .body-desc h2{
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom:30px;
    font-size: 30px;
    word-spacing: 5px;
}
section#hero .body .body-desc .circles{
    width:77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;

}
section#hero .body .body-desc .circles .circle{
    border:3px solid var(--primary-color);
    font-weight: 700;
    font-size:20px;
    color:var(--primary-color);
    width:40px;
    height:40px;
    border-radius: 50%;
    text-align:center;
    line-height: 35px;
}
section#hero .body .body-desc .circles .joiner{
    width:37%;
    height:3px;
    border-top:3px solid var(--primary-color);
    border-radius: 5px;
}
section#hero .body .body-desc .steps{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
section#hero .body .body-desc .steps .step{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
}
section#hero .body .body-desc .steps .step h4{
    font-weight: 700;
    color:var(--secondary-color);
    font-size:var(--sub-desc-font-size);
}
section#hero .body .body-desc .steps .step p{
    text-align: justify;
    font-size:var(--subheading-font-size);
    color:var(--grey-shade-2);
    text-align: center;
}

section#features .body .left-features{
    width:30%;
    display:flex;
    flex-direction:column;
}
section#features .body .left-features .f-l{
    display:flex;
    width:100%;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin-bottom:80px;
}
section#features .body .left-features .f-l .content{
    width:65%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: center;
}
section#features .body .left-features .f-l .content .head {
    margin-bottom:10px;
}
section#features .body .left-features .f-l .content .head h4{
    margin:0;
    font-size:var(--sub-desc-font-size);
    color:var(--primary-color);
    font-weight: 700;
    margin:0;
}
section#features .body .left-features .f-l .content .body p{
    color:var(--grey-shade-1);
    font-size: var(--subheading-font-size);
}
section#features .body .left-features .f-l .image{
    width:30%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    
}
section#features .body .left-features .f-l .image .image-a{
    width:100px;
    height:100px;
    border: 3px solid var(--primary-color);
    padding:5px;
    border-radius: 50%;
    position:relative;
    overflow:hidden;
}
section#features .body .left-features .f-l .image .image-a img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:scale-down;
}
section#features .body .center-image{
    width:30%;
    height:400px;
    position:relative;
    overflow: hidden;
}
section#features .body .center-image img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: contain;
}
section#features .body .right-features{
    width:30%;
    display:flex;
    flex-direction:column;
}
section#features .body .right-features .f-r{
    display:flex;
    width:100%;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin-bottom:80px;
}
section#features .body .right-features .f-r .content{
    width:65%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: center;
}
section#features .body .right-features .f-r .content .head {
    margin-bottom:10px;
}
section#features .body .right-features .f-r .content .head h4{
    margin:0;
    font-size:var(--sub-desc-font-size);
    color:var(--primary-color);
    font-weight: 700;
    margin:0;
}
section#features .body .right-features .f-r .content .body p{
    color:var(--grey-shade-1);
    font-size: var(--subheading-font-size);
}
section#features .body .right-features .f-r .image{
    width:30%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    
}
section#features .body .right-features .f-r .image .image-a{
    width:100px;
    height:100px;
    border: 3px solid var(--primary-color);
    padding:5px;
    border-radius: 50%;
    position:relative;
    overflow:hidden;
}
section#features .body .right-features .f-r .image .image-a img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:scale-down;
}
section#team .body{
    margin-bottom:100px;
}
section#team .body .single-image{
    width:45%;
    height:400px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
section#team .body .single-image .image-a{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
section#team .body .single-image .image-a img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: contain;
}
section#team .body .all-members{
    height:400px;
    width:45%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}
section#team .body .all-members .photos{
    width:75%;
    display:flex;
    height:80px;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom:20px;
}
section#team .body .all-members .photos .single-member{
    position:relative;
    width:80px;
    height:80px;
    border-radius: 50%;
    overflow: hidden;
}
section#team .body .all-members .photos .single-member img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
section#team .body .all-members .joiner-team{
    border-top:1px solid var(--primary-color);
    width:100%;
    margin-bottom:30px;
}
section#team .body .all-members .name-and-designation{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
section#team .body .all-members .name-and-designation h5{
    font-size:var(--subheading-font-size);
    font-weight: 700;
}
section#team .body .all-members .name-and-designation p{
    color : var(--grey-shade-2);
    font-size:14px;

}
section#team .body .all-members .desc{
    width:100%;
    text-align: center;
}
section#team .body .all-members .desc p{
    color:var(--grey-shade-2);
    word-spacing: 3px;
}
section#team .body .all-members .links{
    width:40%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:20px;
    color:var(--primary-color);
}
section#getInTouch .body{
    margin-bottom: 100px;
}
section#getInTouch .body .form{
    width:45%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
section#getInTouch .body .form  input{
    width:300px;
    border : 2px solid var(--primary-color);
    border-radius: 20px;
    padding:5px 10px;
    margin-bottom:10px;
}
section#getInTouch .body .form  input:focus{
    outline: none;
}
section#getInTouch .body .form input::placeholder{
    padding: 5px 5px;
}
section#getInTouch .body .form textarea{
    width:300px;
    height:200px;
    border : 2px solid var(--primary-color);
    border-radius: 20px;
    padding:5px 10px;
    margin-bottom:10px;

}
section#getInTouch .body .form textarea:focus{
    outline:none;
}
section#getInTouch .body .form textarea::-webkit-scrollbar{
    width:5px;
}
section#getInTouch .body .form textarea::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--primary-color);
}
section#getInTouch .body .form textarea::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--grey-shade-2);
}
section#getInTouch .body .form button{
    width:300px;
    padding:5px;
    background-color: var(--primary-color);
    color:#fff;
    font-weight: 500;
    font-size: var(--sub-desc-font-size);
}
section#getInTouch .body .image{
    width:45%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:400px;
}
section#getInTouch .body .image .image-a{
    position:relative;
    overflow:hidden;
    width:100%;
    height:100%;
}
section#getInTouch .body .image .image-a img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: contain;
}
footer{
    width:100%;
    background-color: #D9D4D4;
    display:flex;
    padding:10px 50px;
    justify-content: space-between;
    align-items: center;
}
footer .copyright p{
    color:var(--grey-shade-2);
    margin:0;
}
footer .upper-arrow .box{
    width:30px;
    height:30px;
    border:2px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--primary-color);
    cursor:pointer;
}